@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&family=My+Soul&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=My+Soul&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(72, 58, 58);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(72, 58, 58);
    text-shadow: 1px 1px 1px #07e9f0;
}

h3 {
    font-size: 36px;
    line-height: 44px;
    color: rgb(62, 53, 53);
}

h4 {
    font-size: 20px;
    color: rgb(72, 58, 58);
}

h6 {
    font-weight: 700;
    font-size: 12px;

}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#logo {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 2px solid #07e9f0;
    box-shadow: 1px 1px 30px #07e9f0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #FD0707;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.556);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #d9def1;
    transition: 2s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {

    color: #d0d2ed;
    text-shadow: 1px 1px 2px#ce8f70;
}

/* Now we use pseudo classes */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 55%;
    height: 2px;
    background: linear-gradient(to right, #d9def1, #d9def196, #d9def1);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar #lg-bag a.active::after,
#navbar #lg-bag a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: linear-gradient(to right, #d9def1, #d9def196, #d9def1);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.mobile {
    display: none;
    align-items: center;

}

#navbar #close {
    display: none;
}

/*  PageHeader */
.contact-header {
    background-image: url("Black-Brown-Geometric-Motivational-Desktop-Wallpaper.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 25pc;
    background-size: 100% 100%;
    background-position: 0px -20px;

}
/* Page header end */
/* contact-details start */
#contact-details{
    display:flex;
    flex-direction: column;
   justify-content:flex-start;
  line-height:25px;
}
#contact-details .detials h2{
    font-size: 36px;
    line-height:35px;
    padding: 15px 0;
}
#contact-details .detials h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .detials li{
    list-style: none;
    display:flex;
    align-items: center;
   
    padding:10px 0;
}
#contact-details .detials li i{
    font-size:14px;
    margin-right: 22px;
}
#contact-details .detials li p{
    margin:0;
    font-size:14px;
}
#contact-details .map{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
   align-items: center;
}
#contact-details .map .map1,.map2{
    width:45%;
   height:100%;
}
#contact-details .map h4{
    margin:18px auto;
    font-weight: 600;
}

#contact-details .map iframe{
    width:100%;
    height:100%;
   margin-top: 10px;
   
}

/* contact-details end */
/* Form details */
#form-details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:30px;
    padding:80px;
    border:1px solid #ce8f70;
}
#form-details form {
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
#form-details form span{
    font-size:12px;
}
#form-details form h2{
    font-size: 36px;
    line-height:35px;
    padding: 15px 0;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding:12px 15px;
    outline:none;
    margin-bottom:20px;
    border:1px solid #ce8f70;
}
#form-details form .normal{
    background-color: #088178;
    color:white;
    padding:8px ;
    border-radius:6px;
    outline:none;
}
#form-details .people img{
    width:60px;
    height:60px;
    border-radius: 50%;
}
#form-details .people div{
    padding-bottom: 25px;
    display:flex;
    align-items: flex-start;
}
#form-details .people div p{
    margin:0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display:block;
    font-size: 16px;
     font-weight: 600;
     color: #000;
}
/* form-details end */
/* newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(3, 3, 86);
    margin: 25px 0;
}

#newsletter h4 {
    font-size: 25px;
    font-weight: 600;
    color: #818ea0;
    font-family: 'Pattaone', cursive;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span:nth-child(1) {
    font-family: 'Pattaone', cursive;
    font-weight: bold;
    color: rgb(220, 129, 64);
}

#newsletter p span {
    font-family: 'Pattaone', cursive;
    font-weight: bold;
    color: yellowgreen;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.23em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    font-weight: 600;
    margin-left: -5px;
    color: #fff;
    white-space: nowrap;
    padding: 1.1rem;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* End of Newsletter */
/* Footer */
footer {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col .logo {
    margin-bottom: 30px;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 2px solid #26a5417e;
    box-shadow: 1px 1px 20px #5b605cf8;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
    user-select: none;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

.install .row {
    position: relative;
    padding: 10px 0 15px 0;
}

.install .row img {
    width: 35vh;
    height: 15vh;
    cursor: pointer;
    border: 1px solid #088178;
    border-radius: 10px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

footer .install .svg {
    height: 6.5vh;
    width: 100%;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/*
Start our media query
*/

@media (min-width:800px) and (max-width:1023px) {

    #page-header {
        height: 40vh;
        margin-bottom: 0;
    }
}

@media (max-width: 799px) {

    .section-p1 {
        padding: 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -30vh;
        height: 100vh;
        width: 30vh;
        background-color: rgba(0, 0, 0, 0.556);
        box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 100px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar #close {
        display: initial;
        position: absolute;
        top: 25px;
        left: 30px;
        color: #d9def1;
        font-size: 24px;
        width: 1.7em;
        height: 1.7em;
        padding-top: 7px;
        padding-left: 8px;
        border: 2px solid #26a5417e;
        box-shadow: 1px 1px 30px #5b605cf8;

        border-radius: 50%;
        background-color: transparent;
    }

    .mobile {
        display: flex;
        align-items: center;


    }

    .mobile i {
        color: white;
        font-size: 24px;
        width: 1.7em;
        height: 1.7em;
        padding-top: 5px;
        padding-left: 8px;
        margin-left: 25px;
    }

    .mobile .fa-bag-shopping,
    .mobile #bar {
        border: 2px solid #26a5417e;
        box-shadow: 1px 1px 30px #5b605cf8;

        border-radius: 50%;
        background-color: transparent;
    }

    .mobile #bar.remove,
    .mobile #cart.remove {
        display: none;
    }

    #lg-bag {
        display: none;
    }

    #page-header {
        height: 30vh;
        margin-bottom: 0;
    }
    /* form */
    #form-details {
        padding: 30px;
    }
    #form-details form {
        width: 55%;
    }
/* form end */
    /* Feature */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    /* newsletter */
    #newsletter {
        justify-content: center;
        align-items: center;
    }

    #newsletter .form {
        width: 70%;
    }

    #newsletter input {
        width: 70%;
    }

    #newsletter button {
        width: 30%;
    }

    /* news letter end */
    footer .col {

        align-items: flex-start;
        margin: 1.65%;
    }

    .install .row img {
        width: 20vh;
        height: 7.5vh;
        margin: 2%;

    }

   

    footer .col .logo {
        width: 5.5em;
        height: 5.5em;
        margin-bottom: 20px;
        margin-top: -20px;
    }

    footer .copyright {
        width: 100%;
        text-align: start;
        margin-left: 2%;
    }

}

@media (max-width:600px) {
    #page-header {
        height: 35vh;
        margin-bottom: 0;
    }

    .contact-header .image {
        width: 100%;
        height: 35vh;
    }

   
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 36px;
    }

    #header {
        padding: 10px 30px;
    }

    #page-header {
        height: 35vh;
        margin-bottom: 0;
    }

    .contact-header .image {
        width: 100%;
        height: 35vh;
    }
     
    #contact-details .map {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    #contact-details .map h4 {
        margin:10px auto;
       font-size: 15px;
    }

    #contact-details .map iframe {
        margin-top: 2px;
        
    }
    /* form */
    #form-details  {
       margin:10px ;
       padding:30px 10px;
       flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
       margin-bottom: 30px;
    }
    /* form end */
    /* Feature */
    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 142px;
        margin: 0 -10px 15px 1px;
    }

    #feature .fe-box h6 {
        font-size: 10px;
    }

    /* Feature end */

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #product1 .pro {
        width: 100%;
    }
    

    /* News letter start */
    #newsletter {
        justify-content: center;
        align-items: center;
        padding: 37px;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter input {
        font-size: 12px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    #newsletter .normal {
        width: 40%;
        border-radius: 4px;
        margin: 0 3px;

    }

    /* News letter end */

    /* Footer Start */
    footer {
        display: grid;
        grid-template-columns: auto;
        padding: 0;
    }

    footer .copyright {
        text-align: start;
    }

    .install .row img {
        width: 20vh;
        height: 7.5vh;
        margin: 2%;
    }

    footer .col .logo {
        margin: 20px auto;
    }

    /* Footer end */
}
